{% extends 'blog/base.html' %}

{% block title %}
    The post detail page
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="text-center">Страница публикации номер  {{ post.id }}</h1>
        <h2 class="text-center text-primary">{{ post.title }}</h2>
    </div>
    <hr>
    <div class="card mb-2 shadow-lg">
            <h4 class="card-header text-primary">{{ post.title }}</h4>
            <p class="card-body">{{ post.body }}</p>
        <div class="card-footer d-flex justify-content-between">
            <div>
                Опубликован: <strong>{{ post.publish }}</strong>
            </div>
            <div>
                Автор: <strong class="text-end">{{ post.author }}</strong>
            </div>
        </div>
        <div class="p-3 d-flex justify-content-between">

            <a type="button" class="btn btn-danger" href="{% url 'blog:post_share' post.id %}"> Share this post</a>

            <a type="button" class="btn btn-primary" href="{% url 'blog:post_list' %}">
                Back to list
            </a>
        </div>
    </div>
    <div class="card p-3">
        {% with comments.count as total_comments %}
            <h4>
                {{ total_comments }}  comment{{ total_comments|pluralize }}
            </h4>
        {% endwith %}
        {% for comment in comments %}
        <hr>
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }}  by  {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        <hr>
        {% empty %}
            <p>There are no comments</p>
        {% endfor %}
        {% include 'blog/post/include/comment_form.html' %}
    </div>
</div>

{% endblock %}
