{% extends 'blog/base.html' %}

{% block title %}
    The post list page
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">This is a content block from list.html</h1>
    <h2 class="text-center">Post List</h2>
    {% for item in post %}
        <div class="card mb-3 shadow">
                <h4 class="card-header">
                    <a class="text-decoration-none" href="{% url 'blog:post_detail' item.id %}">
                        {{ item.id }}     {{ item.title }}
                    </a>
                </h4>
                <p class="card-body">{{ item.body|truncatewords:30 }}</p>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <strong>{{ item.publish }}</strong>
                    </div>
                    <div>
                        <strong>{{ item.author }}</strong>
                    </div>
                </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
