{% extends 'blog/base.html' %}

{% block title %}
    Список постов
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h1 class="text-center">Добро пожаловать на сайт</h1>
        <h2 class="text-center">Список публикаций</h2>
    </div>
    <hr>
    {% for item in posts %}
        <div class="card mb-3 shadow">
                <h4 class="card-header">
                    <a class="text-decoration-none" href="{{ item.get_absolute_url }}">
                        {{ item.title }}
                    </a>

                </h4>
                <a class="tags ps-3 pt-2 card-subtitle">{{ item.tags.all|join:", " }}</a>

                <p class="card-body">{{ item.body|truncatewords:30 }}</p>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <strong>{{ item.publish }}</strong>
                    </div>
                    <div>
                        <strong>{{ item.author }}</strong>
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
<div class="text-center d-flex justify-content-center">
<!--    {% include 'blog/post/pagination.html' with page=posts %}-->
    {% include 'blog/post/pagination.html' with page=page_obj %}
</div>
{% endblock %}
