body {
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-shadow: 1px 1px 3px black;
}

h2 {
    color: green;
    text-shadow: 1px 1px 3px black;
}

ul {
    list-style: none;
}

